.calls-list {
  flex: 2;
  height: 100vh;
  overflow: auto;
  padding: 40px 20px;
  background-color: rgb(247, 247, 247);
}

.calls-pagination {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.calls-pagination-li {
  margin: 0 5px;
}

.call-list-view {
  background-color: white;
  padding: 0 30px;
}

.call-list-view-viewing {
  background-color: rgb(201, 237, 228);
}

.call-info {
  padding: 15px 20px;
  border-bottom: 1px solid rgb(232, 232, 230);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.archived {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: rgb(255, 92, 57);
  font-size: 11px;
}

.call-status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
